.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 2rem;
    color: whitesmoke;
    border: none;
}

.btn-middle {
    background-color: rgb(160, 82, 45);
}

.btn-middle:hover {
    background-color: rgb(150, 75, 39);
}

.btn-light {
    background-color: rgb(239, 140, 93);
}

.btn-light:hover {
    background-color: rgb(231, 130, 82);
}

.btn-dark {
    background-color: rgb(119, 54, 23);
}

.btn-dark:hover {
    background-color: rgb(110, 47, 18);
}