.screen {
    width: 100%;
    height: 55%;
    background: linear-gradient(to right bottom, #abc6ff, rgba(171, 198, 255, 0.59) 75%);
    padding: 1.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: whitesmoke;
    font-size: 4.5rem;
    font-weight: 500;
}

.additionalScreen {
    font-size: 1.75rem;
    font-weight: 300;
    color: rgba(245, 245, 245, 0.73);
}